
.output{
    margin-right: 10px;
    margin-left: 10px;
}
.icon{
    margin-left: 10px;
    margin-right: 10px;
}
label{
    display: flex;
    align-items: center;
    background: #000;
    height: 30px;
}
.iframe{
    background: #fff;
    height:270px;
    color: black;
}